

{{>header}}
{{>nav}}
<div class="main">
<div class="subDetails">

        <img class="profile" src="images/Screenshot 2023-10-25 234554.png" alt="">
        <h2>About Us</h2>
        <h3>
            Full stack Developer & desiginer 
        </h3>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident similique, autem reiciendis 
        </p>
<a href="https://www.linkedin.com/in/thevikashsharma/"><button class="btn bg-dark text-light"> hire me </button></a>
    </div>
</div>

 
    

{{>footer}}