{{>header}}
    {{>nav}}
    <div class="main">

<div class="container  ">
    <div class="image">
<img class="main_image" src="https://cdn.pixabay.com/photo/2022/06/21/08/57/male-7275449_1280.jpg" alt="">
    </div>

    <div class="info">

<h4> Check The top and hootest crypotocurency and Bitcoin upated </h4>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, enim.
</p>

<a href="/info">
<button class="btn bg-dark text-light">here </button>
</a>

    </div>


</div>
<div class="subContent">

     <div class="subDetails">

        <img src="images/crypto.jpg" alt="">
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident similique, autem reiciendis 
        </p>

    </div>
</div>

    </div>

    {{>footer}}

    